<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mty.jpsite.server.dao.hiUserVip.HiUserVipDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mty.jpsite.server.entity.hiUserVip.HiUserVip">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="card_type" property="cardType" />
        <result column="course_number_max" property="courseNumberMax" />
        <result column="course_number_min" property="courseNumberMin" />
        <result column="application_date" property="applicationDate" />
        <result column="maturity_date" property="maturityDate" />
        <result column="hi_course_ids" property="hiCourseIds" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, card_type, course_number_max, course_number_min, application_date, maturity_date, hi_course_ids
    </sql>

</mapper>
